*
{
    margin: 0;
    padding: 0;
}

.container{
    
   display: flex;
}

.flex{
    
    
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.items-center{
    align-items:center;
}

.header-img{
    
    max-width: 90%;       
}
.img{
    max-width:70%;
    vertical-align: auto;

}

.justify-between{
    justify-content: space-between;
}
.left-header{
   height:0rem;
}

.center-header{
    width: 100rem;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    background-image: linear-gradient(to right, #fcf17c, #ffa600);
    border: 3px solid rgb(170, 82, 0);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
h1{
    background: linear-gradient( to right, #000469, #040ab8, #dedfff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.right-header{
    height:0rem;
    margin-right: -8rem;
}

.in-data textarea{
    margin-top: 10.4rem;
    margin-left: 2rem;
    width: 35rem;
    height: 15rem;
    border: 0.2rem solid #00008a;
    background-color: rgb(233, 233, 255);
    border-radius: 2rem;
    
}
::placeholder{
  
    padding:2rem;
    font-size: 1.9rem;
}
.out-data textarea{
    margin-top: 10.4rem;
    width: 35rem;
    height: 15rem;
    border: 0.2rem solid #e45300;
    background-color: rgb(255, 235, 213);
    border-radius: 2rem;

}

#btn-translate{
    width: 4rem;
    height:4rem;
    
    margin-top: 15.8rem;
    margin-left: 8rem;
    margin-right: 8rem;
    color: rgb(0, 180, 0);
    background-color: rgb(171, 248, 156);
    font-size:4rem;
    padding-bottom: 4.2rem;
    padding-left:0.3rem;
}
