* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .container {
        flex-direction: row;
    }
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;

}

/* .flex{
    border: 3px solid #333;
    background-color: rgb(211, 211, 211);
    
} */

.items-center {
    align-items: center;
    margin-left: 2rem;
}

.header-img {

    max-width: 50%;

}

.img {
    max-width: 15vw;
    max-height: 15vw;
    margin-left: 4rem;
    flex-wrap: wrap;
}


.left-header {
    align-self: center;
    margin-left: -1rem;
    margin-right: -2rem;


}

.center-header {
    align-self: center;
    margin-left: 3rem;
    
    text-align: center;
    padding: 0.4rem;


}

.bg {
    background-image: linear-gradient(to right, #fcf17c, #ffa600, #ff7300);
    border: 6% solid rgb(170, 82, 0);

}

h1 {
    background: linear-gradient(to right, #000236, #03089e, #5a5ffc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 5vw;

}

.right-header {
  align-self: auto;
}




/* section */
.fconatiner {
    
    height: 45vh;
    
}

.fitem{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;


}
.child{
   margin: 0.5rem;
}

.in-data textarea {

    width: 15rem;
    height: 15rem;
    border: 0.2rem solid #00008a;
    background-color: rgb(233, 233, 255);
    border-radius: 2rem;
    

}

::placeholder {

    padding: 2rem;
    font-size:1rem;
    color:rgb(71, 71, 71);
    
}

.out-data textarea {

    width: 15rem;
    height: 15rem;
    border: 0.2rem solid #e45300;
    background-color: rgb(255, 235, 213);
    border-radius: 2rem;
    

}

#btn-translate {
    margin:2rem;
    width: 4rem;
    height: 4rem;
    color: rgb(0, 180, 0);
    background-color: rgb(171, 248, 156);
    font-size: 4rem;
    padding-bottom: 4.5rem;
    padding-left: 0.3rem;
    
}